html  {
  margin:0;
  font-size: 14px;

}

*{
  padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
font-family: 'Poppins', sans-serif;

color: black;
}


#root{
margin: 0;
padding: 0;

}
body {

  font-family: 'Poppins', sans-serif;
min-width: 280px;

}
#logo{
width: 150px
}

.link-a{
all:unset

}
a:hover{
cursor: pointer;
}
.bi{
cursor: pointer;
}

.section-margin{
margin: 3rem 3rem !important ;
}
.section-padding{
padding: 2rem 2rem !important ;
}
.section-paddingX{
padding-left: 2rem !important ;
padding-right: 2rem !important ;
}
.section-paddingY{
padding-top: 2rem  !important ;
padding-bottom: 2rem
}
.section-marginY{
margin-top: 2rem !important ;
margin-bottom: 2rem !important ;

}
.section-marginX{
margin-left: 2rem !important;
margin-right:2rem

}
.padding15rem{
  padding: 1.5rem;
}

.themeButton {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #2884EF;
color: white;
padding: 10px 16px;
cursor: pointer;
border: 1.5px solid transparent;
transition: 0.2s ease-in-out;
text-decoration: none;
font-size: 12px;
font-style: normal;
font-weight: 500;
width: fit-content;
border-radius: 6px;
flex-direction: row;
grid-gap:3px;
white-space: nowrap;

}




.center-div{
display: flex;
align-items: center;
justify-content:center;
}
.between-div{
display: flex;
align-items: center;
justify-content:space-between;
}

.form-input{
  flex:2;
border:none;
padding: 9px 11px 9px 11px;
background: #F5F8FA;
border-radius: 6px;
font-weight: 500;
font-size: 13px;
line-height: 16px;
border: 1px solid transparent;
color: #5E6278;
max-width: 400px;

 
}
.form-input::placeholder{
color: #A1A5B7;
font-size: 12px;
 
}
.text-area::placeholder{


color: #B5B5C3;
 
}
.inputwrapper{
  display: flex;
  justify-content:flex-start;
  align-items:center;
  margin-bottom: 35px ;
  grid-gap: 20px;
}
.inputwrapper span{
  font-size:12px !important
}
.inputwrapper>p{
min-width: 35%;
width: 35%;
 margin-bottom:0;
 font-size:13px;
 font-weight:500;
 color:rgb(63, 66, 84);;
 
}

.input-name{
font-weight: 700 !important;
font-size: 13px !important;
}


.form-input:active{
outline: none !important;
border-radius: 0 !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
input:focus-visible {
  outline:none;
}
input:focus{
  outline:none;
  box-shadow: none !important;
}
textarea:focus{
  outline: none;
}
select:focus{
  outline: none;
}



.text-area{
  flex:2;
  border:none;
  padding: 11px 11px 11px 11px;
  
  
  background: #F5F8FA;;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  
  color: #5E6278;
 
height: 10rem;
width:100%;

}



.section-heading{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #181C32;
  


}
.span-text-dark{
  line-height: 21px;
  font-size: 13px;
  color:#3F4254
}
.span-text-light{
line-height: 21px;
font-size: 13px;
color:#B5B5C3
}

.max-width-2000px{
  max-width: 2000px;
}
.max-width-1500px{
  max-width: 1500px;
}
.span-box{
  font-size:9px;
  color:#2884EF;
  background:#EEF6FF;
  border-radius:6px;
  padding:4px 8px;
  height:fit-content;
  font-weight:600;
  letter-spacing:1px;
  width:fit-content;
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.span-box-red{
  font-size:9px;
  color:#F1416C;
  background:#FFF5F8;
  border-radius:6px;
  padding:4px 8px;
  height:fit-content;
  font-weight:600;
  letter-spacing:1px;
  width:fit-content;
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.span-box-green{
  font-size:9px;
  color:#50CD89;;
  background:#E8FFF3;
  border-radius:6px;
  padding:4px 8px;
  height:fit-content;
  font-weight:600;
  letter-spacing:1px;
  width:fit-content;
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.span-box-yellow{
  font-size:9px;
  color:#F6C000;
  background:#FFF8DD;
  border-radius:6px;
  padding:4px 8px;
  height:fit-content;
  font-weight:600;
  letter-spacing:1px;
  width:fit-content;
  max-width: 270px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width:1200px) {
.section-margin{
  margin: 2rem 2rem !important ;
}
.section-padding{
  padding: 1rem 2rem !important ;
}

}

@media screen and (max-width:600px) {
select,
textarea,
input {
  font-size: 14px !important;
}
.section-margin{
  margin: 1rem 1rem !important ;
}
.section-padding{
  padding: 2rem 1rem !important ;
}

.section-marginX{
  margin-left: 1rem !important ;
  margin-right: 1rem !important ;
}
.section-marginY{
  margin-top: 1rem !important ;
  margin-bottom: 1rem !important ;
}
.section-paddingX{
  padding-left: 1rem !important ;
  padding-right: 1rem !important ;
}
.section-paddingY{
  padding-top: 1rem !important ;
  padding-bottom: 1rem !important ;
}
.container{
  width: 100% !important;
  
}
.section-subheading{
  font-size: 16px !important;
  

}

.section-heading {


font-size: 18px !important;
margin-top: 2rem ;

}



}
@media screen and (max-width:350px) {

.themeButton {
  padding: 7px 15px;
 
  font-size: 12px;

}
.white-themeButton {
  
  padding: 7px 15px;
 
  font-size: 12px;
 
}
}









