@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


::-webkit-scrollbar {
    width: 6px;
    
    }
    
    
    ::-webkit-scrollbar-thumb {
    background: #F4F4F4; 
    border-radius:12px;
 
    
    }
 
  
 
   